*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.theme{
    background-image: url("/public/image/pwa-app2.png");
    background-size: cover;
    color: #fff;
}
.theme-home{
    background-color: rgb(1, 26, 71);
    border-radius: 4px;
}
.theme-latest-bg{
    
    background-image: url("/public/image/pwa-app.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 7px;
    padding: 10px;
}
.img{
    width: 100%;
    height: auto;
    border-radius: 4px;
   
}
img:hover{
    border-radius: 7px;
    border: 1px solid #898888;
}
h1{
    font-size: 30px;
    font-family: arial black ;
    text-transform: capitalize;
    background-image: linear-gradient(280deg, blue, rgb(148, 136, 4), rgb(116, 67, 67));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.theme-search{
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: rgb(255, 255, 255, 0.2); */
    /* box-shadow: 1px 3px 2px rgb(83, 69, 69); */
    color: #fff; 
}
.img-thumb{
    width: 130px;
    /* background-color: white; */
}
ul,li{
    cursor: pointer;
}
